
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.violation-student {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D9D9D9;
    display: grid;
    justify-items: center;
    align-content: start;
}

.container {
    margin-top: 5vw;
    width: 95vw;
    background-color: #fff;
    display: grid;
    justify-items: center;
    align-content: start;
}

h1 {
    font-weight: 700;
    padding: .5vw 3vw;
    width: 100%;
    text-align: left;
    font-size: 1.5vw;
}

.nav-bar {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #0C356A;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.nav-links {
    padding: 1vw 0;
    display: flex;
    gap: 1.5vw;
}

.rc-logo {
    max-width: 200px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: 14px;
    font-weight: 700;
}

.nav-links a:hover {
    color: #d1d1d1;
    border-bottom: 1.5px solid white;
}


.content-container { 
    border-top: .1vw solid black;
    display: grid;
    justify-items: center;
    align-content: start;
    padding: 1.5vw 3vw;
    width: 100%;
}

select:focus{
    outline: none;
}

.date-filter {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 1vw;
    width: 100%;
    gap: 1.5vw;
}

.date-input {
    width: 15vw;
    padding: .5vw;
    font-size: 1vw;
    border: .1vw solid #757575;
    border-radius: .5vw;
    background-color: #D9D9D9;
    height: 2.5vw;
}

#to {
    font-size: 1vw;
}

input:focus{
    outline: none;
}

h2{
    font-weight: 100;
    font-style: italic;
    width: 100%;
    text-align: left;
    font-size: 1.7vw;
}

.my-violation-table {
    width: 100%;
    max-width: 100%;
    margin: 1.5vw 0;
    overflow-x: auto;
    border-collapse: collapse; 
}

.my-violation-table th,
.my-violation-table td {
    border: 1px solid #5B5B5B;
    padding: .5vw;
    font-size: 1vw;
    background-color: #fff;
    text-align: left;
}

.my-violation-table th {
    background-color: #D9D9D9;
}

.my-violation-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.action-button {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #C6C6C6;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #0056b3;
}


@media (max-width: 768px) {
    .nav-links a {
        margin-right: 20px;
        font-size: 14px;
    }

    .content-container {
        padding: 15px;
    }

    .search-input,
    .filter-button {
        font-size: 14px;
        padding: 6px;
    }

    .action-button,
    .add-offense-button {
        padding: 8px 10px;
        font-size: 14px;
    }

    .offense-table th,
    .offense-table td {
        padding: 10px;
        font-size: 16px;
    }
}
